/logging/*.json
/logging/*.log
/logging/*.txt
/logging/*.zip
/Emulator/logging/
*.iml
.idea/
target/**
TODO.txt
packet.pkt
plugins/**
target/
config.ini
!Emulator/abi-baseline/*.txt
.DS_Store

/Emulator/plugins
/Emulator/.idea
